In [2]:
import pandas as pd

In [3]:
import os
useful_files = [ f for f in os.listdir() if f.endswith(".tsv")]

In [14]:
#basics =  pd.read_table('name.basics.tsv/data.tsv',nrows=4)

In [15]:
#basics.head()

In [8]:
title_akas =  pd.read_table('title.akas.tsv/data.tsv',nrows=4)

In [12]:
title_akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0

In [16]:
title_basics =  pd.read_table('title.basics.tsv/data.tsv',nrows=1000)

In [11]:
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"

In [43]:
filters =["movie"]
title_basics_movie = title_basics[title_basics.titleType.isin(filters)]

In [25]:
import numpy as np

In [30]:
title_basics["flag"] = np.where(title_basics["primaryTitle"]==title_basics["originalTitle"],1, 0)

In [35]:
title_basics["flag"].value_counts()[0]/len(title_basics["flag"])*100

16.2

In [23]:
list(title_basics_movie.columns)

['tconst',
 'titleType',
 'primaryTitle',
 'originalTitle',
 'isAdult',
 'startYear',
 'endYear',
 'runtimeMinutes',
 'genres']

In [22]:
len(title_basics_movie)

26

In [44]:
title_basics_movie = title_basics_movie[['tconst',
 'titleType',
 'primaryTitle',
 'startYear',
 'runtimeMinutes',
 'genres']]

In [45]:
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,flag
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",1
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",1
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",1
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",1
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",1
...,...,...,...,...,...,...,...,...,...,...
995,tt0001007,movie,La primera y segunda casetas,La primera y segunda casetas,0,1909,\N,\N,\N,1
996,tt0001008,short,The Prince and the Pauper,The Prince and the Pauper,0,1909,\N,\N,Short,1
997,tt0001009,short,"Princess Nicotine; or, the Smoke Fairy","Princess Nicotine; or, The Smoke Fairy",0,1909,\N,5,"Comedy,Fantasy,Short",0
998,tt0001010,movie,Protección de un convoy de víveres en el puent...,Protección de un convoy de víveres en el puent...,0,1909,\N,\N,\N,1
999,tt0001011,short,The Prussian Spy,The Prussian Spy,0,1909,\N,5,"Drama,Short",1

In [51]:
title_basics_movie[title_basics_movie.tconst=='tt0000147']

,tconst,titleType,primaryTitle,startYear,runtimeMinutes,genres
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,1897,100,"Documentary,News,Sport"

In [46]:
title_basics_movie.to_csv("title.basics.movie.tsv", sep="\t", header=True, index = None)

In [55]:
title_ratings =  pd.read_table('title.ratings.tsv/data.tsv',nrows=400).reset_index()

In [56]:
title_ratings.head(10)

   index     tconst  averageRating  numVotes
0      0  tt0000001            5.7      1949
1      1  tt0000002            5.8       264
2      2  tt0000003            6.5      1781
3      3  tt0000004            5.6       179
4      4  tt0000005            6.2      2581
5      5  tt0000006            5.1       177
6      6  tt0000007            5.4       811
7      7  tt0000008            5.4      2091
8      8  tt0000009            5.3       204
9      9  tt0000010            6.9      7050

In [54]:
        for id, row in title_basics_movie.iterrows():
            print(row)
            item =(row.tconst,row.titleType, row.primaryTitle,row.startYear, row.runtimeMinutes,row.genres )

tconst             tt0000009
titleType              movie
primaryTitle      Miss Jerry
startYear               1894
runtimeMinutes            45
genres               Romance
Name: 8, dtype: object
tconst                                tt0000147
titleType                                 movie
primaryTitle      The Corbett-Fitzsimmons Fight
startYear                                  1897
runtimeMinutes                              100
genres                   Documentary,News,Sport
Name: 144, dtype: object
tconst            tt0000502
titleType             movie
primaryTitle       Bohemios
startYear              1905
runtimeMinutes          100
genres                   \N
Name: 498, dtype: object
tconst                              tt0000574
titleType                               movie
primaryTitle      The Story of the Kelly Gang
startYear                                1906
runtimeMinutes                             70
genres             Action,Adventure,Biography
Name: 570, dtype: object
tconst                   tt0000591
titleType                    movie
primaryTitle      The Prodigal Son
startYear                     1907
runtimeMinutes                  90
genres                       Drama
Name: 587, dtype: object
tconst                     tt0000615
titleType                      movie
primaryTitle      Robbery Under Arms
startYear                       1907
runtimeMinutes                    \N
genres                         Drama
Name: 610, dtype: object
tconst            tt0000630
titleType             movie
primaryTitle         Hamlet
startYear              1908
runtimeMinutes           \N
genres                Drama
Name: 625, dtype: object
tconst              tt0000675
titleType               movie
primaryTitle      Don Quijote
startYear                1908
runtimeMinutes             \N
genres                  Drama
Name: 668, dtype: object
tconst                                 tt0000679
titleType                                  movie
primaryTitle      The Fairylogue and Radio-Plays
startYear                                   1908
runtimeMinutes                               120
genres                         Adventure,Fantasy
Name: 672, dtype: object
tconst                     tt0000838
titleType                      movie
primaryTitle      A Cultura do Cacau
startYear                       1909
runtimeMinutes                    \N
genres                            \N
Name: 828, dtype: object
tconst                        tt0000842
titleType                         movie
primaryTitle      De Garraf a Barcelona
startYear                          1909
runtimeMinutes                       \N
genres                               \N
Name: 832, dtype: object
tconst                       tt0000846
titleType                        movie
primaryTitle      Un día en Xochimilco
startYear                         1909
runtimeMinutes                      \N
genres                              \N
Name: 836, dtype: object
tconst                   tt0000850
titleType                    movie
primaryTitle      Los dos hermanos
startYear                     1909
runtimeMinutes                  \N
genres                          \N
Name: 840, dtype: object
tconst                                                  tt0000859
titleType                                                   movie
primaryTitle      Fabricación del corcho en Sant Feliu de Guixols
startYear                                                    1909
runtimeMinutes                                                 \N
genres                                                         \N
Name: 849, dtype: object
tconst             tt0000862
titleType              movie
primaryTitle      Faldgruben
startYear               1909
runtimeMinutes            \N
genres                    \N
Name: 852, dtype: object
tconst                  tt0000867
titleType                   movie
primaryTitle      Fiesta de toros
startYear                    1909
runtimeMinutes                 \N
genres                         \N
Name: 857, dtype: object
tconst                                   tt0000868
titleType                                    movie
primaryTitle      Fiestas de Santa Lucía - Belenes
startYear                                     1909
runtimeMinutes                                  \N
genres                                          \N
Name: 858, dtype: object
tconst                        tt0000869
titleType                         movie
primaryTitle      Fiestas en La Garriga
startYear                          1909
runtimeMinutes                       \N
genres                               \N
Name: 859, dtype: object
tconst                                        tt0000879
titleType                                         movie
primaryTitle      Gira política de Madero y Pino Suárez
startYear                                          1909
runtimeMinutes                                       \N
genres                                               \N
Name: 869, dtype: object
tconst                            tt0000886
titleType                             movie
primaryTitle      Hamlet, Prince of Denmark
startYear                              1910
runtimeMinutes                           \N
genres                                Drama
Name: 876, dtype: object
tconst                 tt0000941
titleType                  movie
primaryTitle      Locura de amor
startYear                   1909
runtimeMinutes                45
genres                     Drama
Name: 930, dtype: object
tconst               tt0000947
titleType                movie
primaryTitle      Lægens offer
startYear                 1909
runtimeMinutes              \N
genres                      \N
Name: 936, dtype: object
tconst                      tt0000959
titleType                       movie
primaryTitle      Melilla y el Gurugu
startYear                        1909
runtimeMinutes                     \N
genres                             \N
Name: 948, dtype: object
tconst                      tt0000984
titleType                       movie
primaryTitle      Niños en la alameda
startYear                        1909
runtimeMinutes                     \N
genres                             \N
Name: 972, dtype: object
tconst                               tt0001007
titleType                                movie
primaryTitle      La primera y segunda casetas
startYear                                 1909
runtimeMinutes                              \N
genres                                      \N
Name: 995, dtype: object
tconst                                                    tt0001010
titleType                                                     movie
primaryTitle      Protección de un convoy de víveres en el puent...
startYear                                                      1909
runtimeMinutes                                                   \N
genres                                                           \N
Name: 998, dtype: object